@using WeddingPlanner2.Models
@model Wedding


<h4 class="display-4">@Model.Bride & @Model.Groom 's Wedding</h4>
<div class="row">
    <div class="col">
        <div class="pl-5">
            <p>Date: @Model.Date</p>
            <p>Guest List</p>
            <div class="pl-5">
                @foreach(var guest in Model.Guests)
                {
                    <p>@guest.User.FirstName @guest.User.FirstName</p>
                }
            </div>
        </div>
    </div>
    <div class="col">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=@Model.Address&zoom=13&size=480x480&markers=@Model.Address&key=AIzaSyBxkD8afHOPA6xBHwFSaOZk54ePi6V9OYM" alt="Google Map of @Model.Address">
    </div>
</div>