 @using PartyFinder.Models
 @model Party

<link href="/css/site.css"/>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="wrapper">
    <div class="title">
        <h1>Welcome, @ViewBag.ThisUser.FirstName @ViewBag.ThisUser.LastName</h1>
        <a href="/logout">Logout</a>
    </div>
    <div class="contant">
        <table class="table table-sm">
            <thead>
                <tr>
                <th scope="col">Event</th>
                <th scope="col">Type of Party</th>
                <th scope="col">Date & Time</th>
                <th scope="col">Duration</th>
                <th scope="col">Location</th>
                <th scope="col">Event Coordinator</th>
                <th scope="col"># of Joins</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Party e in ViewBag.AllParties)
                {
                    <tr>
                        <td><a href="/info/@e.PartyId">@e.Title</a></td>
                        <td>@e.Genre</td>
                        <td>@e.Date.ToString("d") at @e.Time</td>
                        <td>@e.Duration @e.DurationType</td>
                        <td>@e.Location</td>
                        <td>@e.Creator.FirstName @e.Creator.LastName</td>
                        <td>@e.Joins.Count</td>
                        <td>@{
                            bool isTrue = false;
                            int JoinId = 0;
                                @foreach (var j in e.Joins)
                                {
                                    if(j.UserId == @ViewBag.ThisUser.UserId)
                                    {
                                        JoinId = j.UserId;
                                        isTrue = true;
                                    }
                                }
                                if (isTrue)
                                {
                                    <a asp-action="UnJoin" asp-controller="Home" asp-route-partyId="@e.PartyId">UnJoin</a>
                                }
                                else{
                                    if(@e.UserId == @ViewBag.ThisUser.UserId)
                                    {
                                        <a asp-action="Delete" asp-controller="Home" asp-route-partyId="@e.PartyId">Cancel</a>
                                    }
                                    else{
                                        <a asp-action="Join" asp-controller="Home" asp-route-partyId="@e.PartyId">Join</a>
                                    }
                                }
                            }
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
        <button class="btn btn-outline-dark"><a href="/create">Create The Party!</a></button>
    </div>
</div>