@using BrightIdeas.Models
@model FormContent

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<h2>Hi @ViewBag.ThisUser.Alias!</h2>

<a href="/logout">Logout</a>

<form asp-action="AddMessage" asp-controller="Home" method="POST">
    <input asp-for="Content" required minlength="5">
    <span asp-validation-for="Content"></span>
    <button class="btn btn-outline-dark">Add Idea!</button>
</form>

<div>
    <hr>
    @foreach(Message i in ViewBag.AllMessages)
    {
        <div class="Message">
            <p><a asp-action="Info" asp-controller="Home" asp-route-uId="@i.User.Id">@i.User.Alias </a> says:</p>
            <p>@i.Content</p>
            <p>@i.MessageLikes.Count <a asp-action="Idea" asp-controller="Home" asp-route-mId="@i.Id">people like this</a></p>
        </div>
        if(@i.User.Id == @ViewBag.ThisUser.Id)
        {
            <a asp-action="Delete" asp-controller="Home" asp-route-mId="@i.Id">Cancel</a>
        }
        else{
            <a asp-action="AddLike" asp-controller="Home" asp-route-mId="@i.Id">Like</a>
        }
        <hr>
    }
</div>
